<%- include("partials/header") -%>


<div class="main" id="main">
    <h1>Secrets App</h1>
    <h2><i class="fa-solid fa-key"></i></h2>
    <a href="/signup" class="cta-btn btn btn-light btn-lg mr-2">Sign up</a>
    <a href="/login" class="cta-btn btn btn-outline-light btn-lg">Log in</a>
    
</div>



<%- include("partials/footer") -%>
    


