<%- include("partials/header") -%>

<div id="secrets" class="main">
  <h1>PETER PARKER IS <br> <span>SPIDER-MAN</span> </h1>
  <i class="fa-solid fa-spider"></i>
</div>

<%- include("partials/footer") -%>
